extends layout

block content
  div#admin
    ul#users
    div#log
      ul#chat
      textarea#admin-answer.form-control(rows='6')
      button.btn.btn-default Answer Question

  script(type='text/template', id='user-menu-item')
    li(data-id='`socketId`')
      span `socketId`
  script(type='text/template', id='chat-entry')
    li(class='`userType`')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='/javascripts/admin.js')
