html, body, #main {
    height: 100%;
}

#question-area,
#answer-area {
    height: 50%;
    padding: 2em;
}

#answer-area {
    background-color: #000;
    color: #fff;
}

    #question {
        width: 100%;
    }

    #btn-submit {
        margin-top: 1em;
        width: 100%;
    }

    #wait-marker {
        display: none;
        min-height: 200px;
        min-width: 100%;
        position: relative;
    }

    #answer-container {
        display: none;
        margin-top: 2em;
    }

        #answer {
            width: 100%;
        }
