html, body, #main, #sb-site {
    height: 100%;
}

ul {
    margin: 0;
}

#main {
    background-color: #000;
    position: relative;
}

#main #logs {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    left: 0;
    padding: 1em;
    position: absolute;
    opacity: 0;
    top: -100%;
    width: 100%;
    z-index: 2;
}

#main #logs .btn {
    position: absolute;
    top: 0;
    right: 0;
}

#main #logs #chat {
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
    list-style: none;
    padding: 2em;
    overflow-y: scroll;
    width: 100%;
}

#btn-logs {
    width: 100%;
}

#question-area,
#answer-area {
    height: 50%;
    padding: 1em 2em;
    position: relative;
    z-index: 1;
}

#question-area {
    background-color: #fff;
    padding-top: 65px;
}

#answer-area {
    color: #fff;
    padding-bottom: 2em;
}

#question-area h3,
#answer-area h3 {
    margin-top: 0;
}

#question,
#btn-submit,
#wait-marker,
#answer {
    width: 100%;
}

#question {
    margin-top: 1em;
}

#btn-submit {
    margin-top: 1em;
}

#wait-marker {
    display: none;
    height: 100%;
    position: relative;
}

#answer-container {
    display: none;
    margin-top: 2em;
}

#admin {
    height: 100%;
    width: 100%;
}

#users {
    border-right: 1px solid black;
    display: inline-block;
    height: 100%;
    list-style: none;
    overflow-x: scroll;
    padding: 0;
    text-align: center;
    width: 20%;
}

#users li {
    border-bottom: 1px solid black;
    cursor: pointer;
    overflow-x: scroll;
    padding: 1em 0;
    width: 100%;
}

#users li.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.has-new-data {
    font-weight: bold;
}

#log {
    display: inline-block;
    height: 100%;
    padding: 1em;
    position: relative;
    overflow: scroll;
    width: 80%;
}

#chat {
    border: 1px solid black;
    height: 75%;
    list-style: none;
    overflow-y: scroll;
    padding: 1em;
    width: 100%;
}

#log #chat {
    height: 100%;
}

#log #chat button {
    margin-bottom: 2em;
}

#chat .user {
    text-align: left;
}

#chat .admin {
    background-color: rgba(0, 0, 255, 0.1);
    text-align: right;
}

#chat .system {
    background-color: #000;
    color: #fff;
    text-align: center;
}

#chat li {
    border-top: 1px solid rgba(204, 204, 204, 1);
}

#chat li:first-child {
    border-top: none;
}

#admin-answer {
    margin-top: 1.5em;
    height: 15%;
    width: 100%;
}

#log button {
    margin-top: 1em;
    width: 100%;
}

.sb-menu {
    padding-left: 0;
    margin-top: 65px;
}

.sb-menu li {
    padding: 1em 3em;
    width: 100%;
}

.sb-menu li:hover,
.sb-menu li:active {
    background-color: #000;
}

.sb-menu a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.container.my-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-height: 250px) {
    #question-area {
        height: 100%;
    }

    #answer-area {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-toggle {
      display: block;
    }
}
